@* This is the class to be used *@
@model string 
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="@Model" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    <a class="@Model" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-door-closed"></i> Logout</a>    
}
else
{
    <a class="@Model" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus"></i> Register</a>
    <a class="@Model" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-door-open"></i> Login</a>
}