
@{
    ViewData["Title"] = "Home Page";
}

<div class="w3-centered">
    <h1 class=""><i class="fa fa-home"></i> Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@this.LoremIpsum(4, 14, 3, 9, 6)</p>
    <p>@this.LoremIpsum(4, 14, 3, 9, 6)</p>
    <p>@this.LoremIpsum(4, 14, 3, 9, 6)</p>
    <p>@this.LoremIpsum(4, 14, 3, 9, 6)</p>
    <p>@this.LoremIpsum(4, 14, 3, 9, 6)</p>
    <p>@this.LoremIpsum(4, 14, 3, 9, 6)</p>
    <p>@this.LoremIpsum(4, 14, 3, 9, 6)</p>
</div>
