@model  IViewModel

@{ 
    string userCultureName = this.ViewContext.HttpContext.Request.Culture().TwoLetterISOLanguageName.ToLower();
    AssemblyInfo appInfo = new AssemblyInfo();
}

<!DOCTYPE html>
<html lang="@userCultureName" dir="@this.ViewContext.HttpContext.TextDirection()">
<head>
    @* Use the meta tag helper to add the meta tags to the page *@
    <meta meta-model="@Model.PageMeta" meta-user-culture-name="@userCultureName" />
    <base href="~/" />
    @await Html.PartialAsync("_css")
</head>
<body>
    <noscript>
        <div class="container-fluid">
            <div class="alert alert-info">
                <p>Please turn on JavaScript to make full use of this site.</p>
            </div>
        </div>
    </noscript>
    @await Html.PartialAsync("_DefaultHeader", appInfo)
    @await Html.PartialAsync("_Navigation", Model)
    <content class="content">
        <div class="container">
            @RenderBody()
            @await Html.PartialAsync("_Pagination", Model.Pagination)
        </div>
    </content>
    @await Html.PartialAsync("_Footer", appInfo)
    @await Html.PartialAsync("_CookieConsentPartial")
    @await Html.PartialAsync("_Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
