@model ParentChildViewModel<CategoryRowApiModel, ProductApiModel>

@{
    // Setup some basic defaults for the page.
    Model.PageMeta.PageTitle = Model.ViewData.CategoryName;
    Model.PageMeta.Description = Model.PageMeta.PageTitle;
    Model.PageMeta.AddKeyword(Model.ViewData.CategoryName);
    Model.PageMeta.AddKeyword("Category");
    Model.PageMeta.AddKeyword("Products");
    Model.PageMeta.AddKeyword("Inventory");
    Model.PageMeta.AddKeyword("Stock");
}

@functions {
public IDictionary<string, string> RouteParams(int productId)
{
    IDictionary<string, string> result = new Dictionary<string, string>();
    result.Add("productId", productId.ToString());
    return result;
}
}


<div class="row">
    <div class="col-sm-12">
        <img src="@String.Format("images/categories/{0} {1}.jpg", Model.ViewData.RowId.ToString(), Model.ViewData.CategoryName.Replace("/","_"))" class="img-responsive" />
        <h3>@Model.ViewData.CategoryName</h3>
        <div class="pull-right highlight-button"><a asp-area="" asp-controller="Inventory" asp-action="Categories"><i class="fa fa-backward"></i> Back to Categories</a></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Model.ViewData.Description</p>
    </div>
</div>
<ul class="list-group">
    @foreach (ProductApiModel item in Model.Children.ViewList)
    {
        <li class="list-group-item">
            <a asp-area="" asp-controller="Inventory" asp-action="Product" asp-all-route-data="@RouteParams(item.RowId)">
                <h4>@item.ProductName</h4>
            </a>
        </li>
    }
</ul>